<p>Hi <%= @invitee.email %>,</p>
<p><%= @invitedBy.email %> has created a Condo Motion account for you.</p> 
<p>
You can login using your email and temporary password: <%= @invitee.password %>.
</p>

<%= link_to "Sign in now", new_user_session_url(subdomain: @site.subdomain) %>
