<div id="hero">
	<div class="container">
		<div class="row">	
			<div class="span12">
				<h1>Collaborate with Clients</h1>
				<p>Use Condo Motion to share news, documents, and photos with your clients.  Residents can report issues and you can easily assign them to your staff and provide real-time updates as each issue is addressed.  Your clients will love the increased communication.  Plus, they get a beautiful website to show off information about their building and access your updates.</p>
				<%= link_to "Get Started", new_user_registration_path, :class => "btn btn-large btn-primary" %>
			</div>
		</div>
	</div>
</div>
<div class="feature">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2 style="position: relative;">Section Title</h2>
         <p>Description of the feature goes here.  Lorem ipsum dolor sit amet.
       </div>
     </div>
   </div>
 </div>
<div class="feature dark">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2 style="position: relative;">Section Title</h2>
         <p>Description of the feature goes here.  Lorem ipsum dolor sit amet.
       </div>
     </div>
   </div>
 </div>