<div class="row" style="margin-bottom: 40px;">
	<div class="container">
		<h1>Editing page</h1>

		<%= render 'form' %>

	</div>
</div>

<% if user_signed_in? %>
  <div class="newPostArea">
    <div class="btn-group">
      <%= link_to 'View Page', @page, class: "btn btn-inverse" %>
    </div>
  </div>
<% end %>