  <div class="editBox">
    <h2>Edit <%= @post.post_type.capitalize.singularize %></h2>
    <%= render "#{@post.post_type.downcase}_form", 
        :post => @post, :page_id => @page.id %>

    <%= link_to 'Cancel', page_path(@page), role: "button", class: "btn cancelBtn" %>

  </div>

