@import "common";
.pages{
    /* OB: what is this for?
    .purr {
        position: fixed;
        top: 30px;
        right: 100px;
        width: 250px;
        padding: 20px;
        background-color: #FCC;
        border: solid 2px #C66;
        &:first-letter { text-transform: uppercase; }
    }
    */
    .mainImage{
        height:142px;
        background: url('city_sm.jpg');
        border-top: 1px solid #aaa;
    }
    
    .newPostArea {
        position: fixed;
        bottom: 30px;
        right: 30px;
        text-align: right;
    }
}
