// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
$invalid: #C72020;
.sites{
    .mainContainer{
        padding:30px;
    }

    .managers{
        padding:10px 20px;
        background:#f4f4f4;
        margin-top:20px;
        min-height:450px;
        border:1px solid #eee;
	@include border-radius(5px);
        .lightText{
            color:#888;
        }
        ul{
            list-style-type:none;
            margin-left:0px;
            li{
                padding:3px 0px;
            }
        }
        #addManagerDialog{
            display:none;
            padding:10px;
            margin-left:-10px;
            margin-right:-10px;
            margin-top:20px;
            border:1px dotted #bbb;
            background:#f8f8f8;
	    @include border-radius(5px);
            //background:#FBFCE6;
            .submitArea{
                float:right;
            }
            textarea#emails{
                margin-top:10px;
                width:164px;
                height:55px;
                font-size:13px;
            }
            #emailError{
                margin-top:10px;
                color: $invalid;
                font-size:12px;
                text-align:right;
            }
        }
    }

    .sites{
        margin-top:20px;
        background: #f4f4f4;
        padding: 10px 30px 30px 30px;
        min-height:450px;
        border:1px solid #eee;
	@include border-radius(5px);
        .noContent {
            margin:20px auto 0px auto;
            padding:20px 25px 0px 25px;
            width:225px;
            border:1px dotted #bbb;
            background:#f8f8f8;
	    @include border-radius(5px);
            h4{
                margin-bottom:20px;
            }
            .submitArea{
                float:right;
                margin:5px 10px 0px 0px;
            }
            #newSiteErr{
                color: $invalid;
                margin-top:5px;
                font-size:12px;
                text-align:right;
                height:10px;
            }
        }
        .newSiteBtn{
            float:right;
            margin-top:-50px;
        }
        .siteList{
            float:left;
            width:150px;
            margin-top:10px;
        }
        .nav-tabs{
            margin-top:20px;
            margin-right:-1px;
        }
        .tab-content{
            padding:10px 40px;
            background:white;
            border:1px solid #ddd;
            height:300px;
	    @include border-radius(5px);
        }
        .siteDash{
            .assignedMngrs{
                h5{ margin:0px 0px 5px 0px;}
                float:right;
                width:200px;
                border-left:1px solid #ddd;
                padding-left:40px;
                .viewMngrs{
                    ul{
                        margin:0px 0px 5px 15px;
                        li{
                            padding:2px 0px;
                        }
                    }

                    .editMngrLink{
                        margin-left:10px;
                    }
                }
                .editMngrs{
                    display:none;
                    border:1px dotted #ddd;
                    padding:10px;
                    .actions{
                        margin-top:5px;
                        border-top:1px solid #ddd;
                        text-align:right;
                        padding:10px 5px 0px 0px;
                        .editMngrCancel{
                            margin-right:10px;
                        }
                    }
                }
            }
        }
    }

    .newSite {
        .formBox{
            margin:60px auto 0px auto;
            width:220px;
            background:#f4f4f4;
            border:1px solid #ddd;
            padding:10px 40px;
	    @include border-radius(5px);
            .actions{
                margin-top:5px;
                float:right;
            }
        }
        .backLink{
            width:300px;
            margin: 10px auto 0px auto;
        }
    }
}


// OB: Do we need any of this stuff??
#sites h2 {
  margin-bottom: 5px;
  margin-top: 20px;
  font-size: 18px;
}
#custom_layout_fields {
	display: none;
}
.post {
  border: solid 1px #CCC;
  margin-bottom: 15px;
  padding: 12px 16px;
}
.site_menu {
	margin-left: 0px;
	padding: 0px;
	li {
		list-style: none;
		display: inline-block;
		margin-right: 5px;
		padding: 5px;
		background: #f1f1f1;
      &.active {
        background: #333;
      }
		a {
			padding: 5px 5px; 
			text-decoration: none;
		}
	}
}