// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "common";

.sites.index {
    .testModal{
        display:none;
        position:absolute;
        background:white;
        border:1px solid black;
        width:550px;
        left:100px;
        top:100px;
        height:300px;
        z-index:100;
        padding:10px;
        textarea{
            width:500px;
            height:250px;
        }
        .nicEdit-pane{
            background:pink;
            
            input{
                width:100px;
                background:pink;
            }
        }
        
    }
    .content{
        @include absolute-fill(40px, 0px, $footerHeight, 0px);
        background:#444;
        .sideBar{
            @include absolute-vert(10px, 15px);
            width:220px;
            overflow:auto;
            overflow-x:hidden;

            h3{
                margin:20px 20px 0px 20px;
                font-weight:normal;
                font-style:italic;
                color:#999;
                font-size:18px;
                line-height:24px;
                border-bottom:1px solid #666;
            }
            .siteList{
                // override some bootstrap style
                .nav{
                    margin:4px 0px;
                    li{
                        margin-left:5px;
                        width:210px;
                        a{
                            @include border-radius(0px);
                            border:none;
                            color:#ccc;
                            padding:7px 14px;
			    &:hover {
                                background:#666;
                            }
                        }
                    }
                    .active a{
                        color:white;
                        background:none;
			&:hover {
                            background:none;
                        }
                    }
                }
            }
            .newSiteBtn{
                margin:30px 0px 0px 20px;
                padding-right:15px;
            }
        }
       .panelArea{
           @include absolute-fill(0px, 0px, 0px, 230px);
            .sitePanel{
                @include absolute-fill(20px, 15px, 15px, 5px);
	        @include border-radius(3px);
                @include box-shadow(20px);
                display:none;
                min-width:750px;
                z-index:1;
                overflow:auto;
                background:white;
                padding:30px 40px;
                h2{
                    font-size:28px;
                    margin-bottom:12px;
                }
                .newPostMenu{
                    margin-right:10px;
                    .dropdown-menu{
                        padding:5px 0px;
                        li a{
                            padding:3px 10px;
			    &:hover {
                                cursor:pointer;
                                color:white;
                                background:#49AFCD;
                            }
                        }
                    }
                }

                .recentActivity{
                    width:450px;
                    margin-top:40px;
                    border-top:1px solid #ccc;
                    h4{
                        font-size:20px;
                        margin:30px 0px 20px 0px;
                    }
                    .postTitle{
                        a {
                            font-weight:bold;
                            font-style:italic;
                            color:#000;
                            i{
                                color:#666;
                            }
                        }
                    }
                    .postInfo{
                        color:#999;
                        margin-bottom:20px;
                    }
                }
                
                .box{
                    border:1px solid #ccc;
	            @include border-radius(6px);
                    .boxTitle{
                        @include border-top-radius(6px);
                        border-bottom:1px solid #ccc;
                        font-size:16px;
                        font-weight:bold;
                        line-height:28px;
                        padding:5px 15px;
                        background:#eee;
                    }
                    .boxContent{
                        padding:10px 15px 20px 15px;
                    }
                }

                .assignedMngrs, .residents{
                    width:280px;
                    ul{
                        margin:0px;
                        padding:0px;
                        li{
                            margin:0px;
                            padding:2px 0px;
                            list-style:none;
                            i{
                                color:#666;
                                padding:1px 5px 0px 0px;
                            }
                        }
                    }
                    .viewMngrs, .viewRes{
                        .editMngrLink, .editResLink{
                            margin-left:3px;
                            font-size:12px;
                        }
                    }
                    .editMngrs{
                        display:none;
                        border:1px dotted #ddd;
                        background:#f8f8f8;
                        padding:10px;
                        .actions{
                            margin-top:5px;
                            border-top:1px solid #ddd;
                            text-align:right;
                            padding:10px 5px 0px 0px;
                            .editMngrCancel{
                                margin-right:10px;
                            }
                            .spinner{
                                display:none;
                                margin-right:30px;
                            }
                        }
                    }
                }
                
                .residents{
                    margin-top:40px;
                }

            }
        }
        .noSitesYet{
            margin:100px auto 0px auto;
            width:500px;
            color:#ccc;
            h1{ 
                margin-bottom:20px;
            }
        }
 
    }
}

 
// Style for new sites
.sites.new{
    .wrap{
        background: #4B7399;
    }
    .content{
        padding-top:40px;
    }
    .formBox{
        margin:0px auto 0px auto;
        width:264px;
        background:#f4f4f4;
        border:1px solid #ddd;
        padding:10px 40px;
	@include border-radius(5px);
        .actions{
            margin-top:5px;
            float:right;
        }
        input[type="text"]{
            width:250px;
        }
        select{
            width:265px;
        }
        textArea{
            width:250px;
        }
    }
    .backLink{
        width:300px;
        margin: 10px auto 0px auto;
        a{color:white;}
    }
}

#addManagerDialog {
    display: none;
}


// Style for editing sites
.sites.edit{
    .siteName{
        margin:70px 0px 0px 80px;
        h1{
            font-size:35px;
            margin-bottom:0px;
        }
        h2{
            color:#bbb;
            font-weight:normal;
            font-size:28px;
            margin:0px;
        }
        .backLink{
            margin-top:30px;
        }
    }
    .settings{
        margin:50px 0px 0px 50px;
        .tab-pane{
            padding:5px 20px;
        }
        #residents{
            .emailsLabel{
                font-size:16px;
                line-height:16px;
                margin-bottom:10px;
                .muted{
                    font-size:14px;
                }
            }
            textArea{
                width:220px;
                height:70px;
            }
            .roleLabel{
                display:inline-block;
                margin:15px 5px 0px 0px;
                font-weight:bold;
            }
            select{
                width:190px;
            }
            .btn{
                margin-top:20px;
            }
            .emptyMsg{
                text-align:center;
                font-style:italic;
                padding-top:40px;
                font-size:20px;
                line-height:24px;
                color:#aaa;
            }
            .listArea{
                padding-top:10px;
                width:250px;
            }
            .inviteArea{
                padding:20px 0px 0px 60px;
                border-left:1px solid #ddd;
            }
        }
        #managers{
            .btn{
                margin-top:20px;
            }
        }
        #pages {
            list-style: none;
            margin: 0 -20px;
            li {
                cursor: move;
                padding: 10px 20px;
                .handle {
                    margin: 0 5px 0 -10px;
                    padding: 5px;
                }
                &:hover {
                    background: #f1f1f1;
                }
                .btn-group {
                    position: relative;
                    top: -5px;
                }
            }
        }
    }
}
